.git
.gitignore
.env
.env.*
!.env.example
env
venv
.venv
**/__pycache__
**/*.py[cod]
**/.DS_Store
**/*.sqlite3
**/*.sql
**/*.sql.gz
**/*.dump
**/*.bak
**/*.zip
base/staticfiles
base/logs
yekpare elektrik
