DEBUG=False
SECRET_KEY=replace-with-a-long-random-secret
ALLOWED_HOSTS=ebdekorasyon.com,www.ebdekorasyon.com
CSRF_TRUSTED_ORIGINS=https://ebdekorasyon.com,https://www.ebdekorasyon.com
SECURE_SSL_REDIRECT=True
DATABASE_ENGINE=mysql
DB_HOST=mariadb-resource-hostname
DB_PORT=3306
DB_NAME=ebdekorasyon
DB_USER=ebdekorasyon
DB_PASSWORD=replace-with-database-password
STATIC_ROOT=/app/staticfiles
MEDIA_ROOT=/app/media
HEALTHCHECK_HOST=ebdekorasyon.com
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120
